<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
      
        <title>HOME</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://npmcdn.com/leaflet@1.0.3/dist/leaflet.js"></script>

</head>
<body>
        <main>
                {{{body}}}       
        </main>
        
        <link rel="stylesheet" href="/dist/leaflet-velocity.css">
        <script src="/dist/leaflet-velocity.js"></script>

        <script src="/js/mapa.js"></script>          
</body>
</html>