<div id="map"></div>
<div id="time-slider-display">

<h2>Horas:</h2>	
<input type="range" id="value1" name="parM_choose" min="0" max="23" value="1" step="1" oninput="document.getElementById('parM').innerText = parseInt(this.value);parM=parseInt(this.value)">
<output name="show_parM_val" id="parM">1</output>

</div>